* {
box-sizing: border-box;

}

body {
  margin-top: 1em;
  margin-left: 0;
  margin: auto; /*keeps content centered*/
  padding: 0;
  font-family: 'Merriweather', serif;
  max-width: 1230px;  /*Max width to stop it from continuing to expand on larger screens*/
  background-color: #a1a1a1;
}

span q {
  display: none;
}

.search {
  margin-right: 1em;
  margin-left: 1em;
}

.searchbar input {
  width: 100%;
  height: 2.1em;
  margin-right: 0;
  margin-bottom: 0;
  display: flex; /*Needed for media query break points to work*/
  font-size: 1.5em;
  text-align: center;
  box-shadow: none;
  border: 1px solid grey;
  border-radius: 6px;
  font-family: 'Merriweather', serif;
  background-color: #e9e9e9;
}

.searchbar input:focus {
  outline-color: #cc0000; /*Changed outline color of searchbar:focus*/
}

[placeholder]::-webkit-input-placeholder { /*Fixes placeholder text so it is
                                            different from user input text*/
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 12px;
  color: #000;
}


.list {
  overflow: hidden; /*Fixed margin problem on right*/
  text-align: center;
}

.list > :nth-child(2n+1){  /*margin right every other image*/
  margin-right: .5em;
}

.list a img{
  width: 47%; /*Set to 47 because 50 does not work with margins.*/
  margin-bottom: 1rem;
  overflow: hidden;
}

@media (min-width: 768px) {

  .searchbar input {
    width: 70%;
    margin: auto; /*centers the searchbar*/
  }

  .list a img {
    margin-right: .5em;
    width: 31%; /*set to 30% because 33.3 does not work with margins*/
  }

  .list > :nth-child(2n+1){  /*margin right every other image*/
    margin-right: 0em;
  }

  .list > :nth-child(3n+3){  /*margin right every other image*/
    margin-right: 0;
  }

}

  @media (min-width: 1024px) {

  .searchbar input {
    width: 45%;
    margin: auto; /*centers the searchbar*/
    margin-bottom: 1.5em;
  }

    .list a img{
      width: 20%;
      margin-left: 1em;
      margin-right: 1em;
      margin-bottom: 2em;
      text-align: center;
    }

    .list {
      text-align: center;
    }

    .
